/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;300;400;500&family=Playfair+Display:wght@400;500;600;700&display=swap');

/* Astrisk wildcard selector, overides default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*General Styles*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
}

h1,
h2 {
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #343434;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/*Nav Bar drop down toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    background-color: antiquewhite;
    /*Make main element take up surplus space to push footer to bottom*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;



}

#main-photo {
    height: 600px;
    width: 100%;
    background: url("../images/main-photo.webp") no-repeat center center/cover;
    position: relative;
}

#welcome-text {
    background-color: rgba(250, 249, 246, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#main-page {
    width: 90%;
    margin: 20px auto;

}

#main-page h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#about-husk>div,
#team>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#main-info p {
    padding: 0 20px;
}

#main-info hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle {
    background: url('../images/info-photo.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#info-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#open-times {
    display: flex;
    flex-wrap: wrap;
}

#open-times>div {
    text-align: center;
    padding: 15px;
    flex-basis: 200px;
    flex-grow: 1;
}

.center {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.res-button {
    padding: 10px 20px;
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.res-button:hover {
    background-color: #626262;
}

/*Gallery Page*/
#photos img {
    width: 100%;
    line-height: 0;
}

#photos {
    line-height: 0;
}

#photographer {
    display: flex;
    justify-content: flex-start;
    color: #3a3a3a;
}

#dishes {
    display: flex;
    justify-content: end;
}

/* Menu Page*/


#menu-photo {
    height: 600px;
    width: 100%;
    background: url("../images/menu-photo.webp") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 1px 1px #3a3a3a;

}

#menu-title {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.pricing {
    text-align: center;
    padding: 5px 5px 5px 5px;

}

hr {
    border: none;
    height: 2px;
    background-color: #3a3a3a;
    text-align: center;

}

.menu-item {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;

}

/*Reservations form*/
#reservation-photo {
    height: 600px;
    width: 100%;
    background: url("../images/reservation-photo.png") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 1px 1px #3a3a3a;

}

#reservatiion {
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#reservation-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#reservation-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.book-now {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: antiquewhite;
    color: #3a3a3a;
}



.footer-style {
    background-color: #000000;
}


#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 120%;
    padding: 5%;
    color: #ffffff;
}

#details {
    text-align: center;
    padding: 0 5px 10px 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 90%;
    color: #626262;
}

@media screen and (min-width: 567px) {

    #photos {
        column-count: 2;
        column-gap: 0;

    }

}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        font-size: 14px;
        margin-left: 40px;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 210%;
        line-height: 75px;

    }

    main {
        margin-top: 75px;
    }

    #welcome-text {
        width: 300px;
        right: 50px;
    }

    #about-husk,
    #team {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #about-husk>div,
    #team>div {
        width: 75%;
    }

    #team>div {
        text-align: end;
        align-self: flex-end;
    }

    #photos {
        column-count: 3;
    }

   
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #3a3a3a;
    }

    #photos {
        column-count: 3;
    }

    #menu-title {
        font-size: 160%;
    }

}

@media screen and (min-width: 1200px) {

    /* Reasons section */
    #main-info {
        display: flex;
        flex-direction: row;
    }

    #main-info>div {
        flex: 1;
    }

    #info-photo {
        order: 0
    }

    #team {
        order: 1;
    }

    #team>div {
        align-self: flex-start;
    }

    #about-husk>div {
        align-self: flex-end;
    }
}